<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white about_title">ABOUT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="pre-wrap lead">SkillUpzz is an AI-powered writing assistant to correct and improve English-written text. This application offers a variety of services to help overcome any difficulties faced when writing in English. </div>
            <div class="col-lg-4 mr-auto">
                <p class="pre-wrap lead">These include a translator between Indonesian and English, a thesaurus, a prompter, and constructive feedback on uploaded text. These quick and easy to use services will prevent the language barrier between Indonesian and English from realising your full potential in the workplace or in academia!   
                </p>
            </div>
        </div>
    </div>
</section>
